
html{
  background-color:#CB0000;
  background-blend-mode: multiply;
  margin:0;
  padding:0;
}

head{
  background-color:
  border: 3px solid;
  border-color: #FDF6F6;
}

.index body{
  background-color:#B3DBC0;
  background-blend-mode: multiply;

  margin:0;
  padding:0;
  border-left: 100px solid;


  border-left-color: #2F4F4F;

}
.about body{
  background-color: #C0C0C0;
  background-blend-mode: multiply;
  margin:0;
  padding:0;
  border-left: 100px solid;
border-left-color: #2F4F4F;
}


.about footer{
  background-color:#CB0000;
  border-color: #021C1E;
  border-color: #2F4F4F;
  border-top: 40px solid;
  border-top-color: #021C1E;

}
html.about{
  background-color:#F0810F;
  background-blend-mode: multiply;

  margin:0;
  padding:0;
  border-left: 50px solid;
  border-right: 40px solid;
  border-right-color: #C0C0C0;
  border-left-color: #FFA500;

  border-left-color: #021C1E;

}

html.whatido{
  background-color: #232122;

}
.whatido body{
  background-color:#DDDEDE;
  border-left:100px solid;
  border-right:100px solid;
border-left-color: #232122;
border-right-color:#232122;


}
.whatido footer{
  border-top: 20px solid;
  border-top-color: #C0C0C0;

  padding:4em;
  margin-top: 12em;
  text-align: center;
  background-color: #7BA4A8;
  border-left: 40px solid;
  border-right: 40px solid;
  border-left-color:#232122;
  border-right-color: #232122;
  margin-bottom:0;
  clear:both;

}
.whatido h1{
  color:#333366;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:#ddd;
  text-decoration: none;
  text-indent: inherit;

  position: relative;

  letter-spacing: 5px;
  text-align: center;
  z-index: 1;

}
html .home{
  background-color: #333333;


}
.home body{
  background-color: #CC0000;


}
.home footer{

}
}
header {
    background-color: #fff;
    padding: 30px;
    border: 3px solid;
    border-color: #FDF6F6;


}
html .contacts{
  background-color: #F62A00;
  margin:0;
  padding:0;
}
 .contacts footer{
background-color: #1E656D;
margin:0;
clear:both;
border-right: 0;
border-left: 0;
border-top: 0;
}
footer{
  border-top: 2px solid;
  border-color: #32CD32;
  padding:4em;
  margin-top: 12em;
  text-align: center;
  background-color: #00008B;
  border-left: 40px solid;
  border-right: 40px solid;
  border-color: #32CD32;
  margin:0;
  clear:both;
}

h1{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color:#ddd;
  text-decoration: none;
  text-indent: inherit;

  position: relative;

  letter-spacing: 5px;
  text-align: center;

}
h2{
  font-family: Helvetica, sans-serif;
  font-weight:400;
  font-size: 20px;
  opacity: inherit;
  text-align: center;
  text-shadow: #FFFF00;
  text-shadow: 5px;
  text-transform: lowercase;
  text-decoration-color: #BC8F8F;
}
.menubar{
  width: 75px;
  height: 125px;
  position:relative;
  left:20px;
  top:-20px;

.solia{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  color:#ddd;
  text-decoration: none;
  text-indent: inherit;

  position: relative;

  letter-spacing: 5px;
}


}
minput[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
}
mtextarea{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #3CBC8D;
  color: white;

}

button{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #3CBC8D;
  color: white;

}


.abc{
  position:relative;
  left: 100px;
  text-decoration: none;
  font-size: 60px;

}
.col{
  float:left;

  padding: px;
  display: table;
  column-gap: 5px;

}
.row:after {
    content: "";
    display: table;

}
.col1{
  float:left;
  width: 500px;
  position:relative;
  left:0px;


  background-color: #50312F;
  overflow-y: visible;

}
.col2{
  float:right;
  width:600px;
  position:relative;
  padding:200px;
  left:200px;
  background-color:#CB0000;
  z-index: 1;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight:lighter;
  font-size:20px;
}
.col3{
  float:right;
  width: 660px;
  height:500px;
background-color: #EAD39C;
  background-size: 650px 550px;
    background-repeat:no-repeat;
    background-image: linear-gradient(to left, black 0%, white 100%), url('w3css.gif');
    background-blend-mode: overlay;
    border: 50px  solid #D8BFD8;
    border-top-color: #662225;
    border-left: 2px;
    border-bottom:#ddd;
    border-bottom-color: #333333;

    border-right-color: #063852;


    background-clip: content-box;
    z-index:1;

}
.col4{
  float:left;
  width: 660px;
  height:500px;
background-color: #E4EA8C;
  background-size: 650px 550px;
    background-repeat:no-repeat;
    background-image: linear-gradient(to left, black 0%, white 100%), url('w3css.gif');
    background-blend-mode: overlay;
    border: 90px  solid #D8BFD8;
    border-top-color: #E6DF44;
border-bottom: 20px;
border-left: 2px;



border-right-color:#F2C057;


    background-clip: content-box;
    z-index:1;
    position:relative;



}
.col5{
  float: right;
  width: 1320px;
  height:300px;
  background-color:#FFA500;

  border-left: 20px;
  border-top-color:#ffbf80;
  border-left-color:#663300;

}

.nav li{
  display: inline-block;
  width: 100px;
   height: 5px;
   margin: 10px;
   border: solid;
   border-color: inherit;
}
.socimages nav li{
  display: inline;
}
.socials{
  cursor: pointer;
  padding: 5px;
  heigh: 100%
  position:relative;
  display:flex;

}

.socimages{
  width: 25px;
    height: 25px;
    display: inline-block;
    horizontal-align: middle;
    font-size: 14px;
    font-family: helvetica sans-serif;
    font-weight: bolder;
    text-decoration: none;
}
.int{
  text-decoration: none;
  color:inherit;
}

.a3{
  font-family: Avantgarde, sans-serif;
  color:#E7552C;
  font-size: 150px;
  text-decoration:underline overline;
  text-shadow: #32CD32;
  text-shadow: #00FA9A;
  position:relative;
  right:500px;
}

.a1{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  color:#5CC5EF;
  text-decoration: none;
  text-indent: inherit;
  position:fixed;
  left:200px;
  top:400px;
  bottom:px;
  letter-spacing: 5px;

  border: 0 none;
  border-radius: 10px 10px 10px 10px;
  color: #00CFFA;
  background-color: #FF0038;
  cursor: pointer;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px;

  margin-top: 15px;
  text-transform: none;
  width: 100px;
  p

}
.a2{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  color:#31A9B8;
  font-size: 50px;
  text-decoration: none;
  text-indent: inherit;
  position: relative;
  left:610px;
  top:0px;
  letter-spacing: 5px;

}
.a4{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color:#31A9B8;
  text-decoration: none;
  text-indent: inherit;

  position: relative;
  left:230px;
  top:px;
  letter-spacing: 5px;
}
.soul{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  color:#ddd;
  text-decoration: none;
  text-indent: inherit;
}
.strawberry{
position:relative;
left: 650px;
top:-500px;
height: 765px;
width: 661px;
bottom: 100px;
}
.one-button {
  border: 0 none;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  background-color: #BC8F8F;
  cursor: pointer;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 35px;
  text-transform: none;
  width: 100px;
  text-decoration:none;
}
.map{
  position:fixed;
  left:650px;
  text-align: right;
  z-index: 1;
  top:80;
}

.works{

  width:330px;
  height:644,3px;
  display: inline-table;

  position:relative;
left:-40px;
  right:200px;
  top:20px;
  bottom: 80px;
}

.con{
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  opacity: inherit;
  position:relative;
  right:150px;
  text-shadow: #FFFF00;
  text-shadow: 5px;
  text-transform: uppercase;
  text-decoration-color: #BC8F8F;

}
.callme{
  position:relative;
  left:400px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight:lighter;
  font-size:20px;

}
.lt{
  font-family: Avantgarde, sans-serif;
  font-weight: bold;
  color:#1E656D;
  font-size: 37px;
  text-shadow: #32CD32;
  text-shadow: #00FA9A;
  position: fixed;
  left: 965px;
  top:50;
  z-index: 1;
}
.where{
  position:fixed;
  text-align: center;
  left:900px;
  top: 40;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight:lighter;
  font-size:20px;
}

.hire{
  font-family: Avantgarde, sans-serif;
  color:#BC8F8F;
  font-size: 60px;
  text-decoration:underline overline;
  text-shadow: #32CD32;
  text-shadow: #00FA9A;
  position:relative;
  left:400px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position:;
  right:50px;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position:absolute;

  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

 .letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
 .letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

.c-form {
  width: 450px;
  margin: 15vh 0;
  position:relative;
  left:100px;
  top:-50;
}
.input-holder {
  position:relative;
  margin-bottom: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight:lighter;
  font-size:20px;
  text-transform: lowercase;
  background-color: #F1F3CE;
}
label {
  position: absolute;
  left: 0;
  top: 0;
  transition: font-size .2s ease-in-out, transform .2s ease-in-out;
  transform: translate(20px, 20px)
}
input[type="text"], textarea {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  box-sizing: border-box;
}
textarea {
  padding-top: 20px;
  min-height: 100px;
}
input:focus + label,
textarea:focus + label{
  font-size: 12px;
  transform: translate(20px, 5px);
}
.button {
  width: 100%;
  height: 60px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight:lighter;
  font-size:20px;
  text-transform: uppercase;
}
